<div>
    <div>
    <h3>Log in</h3>

    <form action="/auth/login" method="post">
    

    <label for="email">E-mail:</label>
    <input type="text" name="email" autocomplete="off">
    <br>
    <label for="password1">Password:</label>
    <input type="password" name="password1" autocomplete="off">
    <br>

    <p style="color: red">{{errorMessage}}</p>

    <button>Register</button>
    </form>
</div>
</div>